/* FONTS */
/* COLORS */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #272D4E;
}

a, a:link {
  color: #272D4E;
  text-decoration: none;
}
a:focus {
  border: none;
}

button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/** Mixin for media queries
    Size applied from https://getbootstrap.com/docs/4.1/layout/grid/
*/
/*
Funtion to  take any value and strip the unit off
Useful to conevert px to rem
*/
/*
    This Component contains:
    * Title
    * Images
    * Subtitle
    * Text
    * Link and,
    * Button
*/
.info-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}
.info-page__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.info-page__images {
  position: relative;
  display: flex;
  width: 100%;
}
.info-page__subtitle {
  font-size: 30px;
  margin-bottom: 16px;
}
.info-page__text {
  font-size: 16px;
  line-height: 20px;
  color: #94A2B3;
  margin-bottom: 20px;
  width: 100%;
}
.info-page__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.info-page__link .learn-more {
  color: #299EF3;
}
.info-page__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 14.8333333333rem;
  width: 100%;
  height: 4rem;
  background-color: #FF890D;
  border-radius: 3.3333333333rem;
}
.info-page__button a {
  color: #ffffff;
}
.info-page__button:hover {
  background-color: #FFA342;
}
.info-page__button:focus {
  background-color: #BC6509;
}

/* HEADER SECTION */
.fixed {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  top: 0em;
  z-index: 10;
}

.main-header {
  width: 100%;
  /* Class to fix/sticky the navbar on top when a user scrolls */
}
.main-header .navbar {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.9444444444em;
  width: 92.31%;
  margin: 0 auto;
  /* Mobile button animation */
  /* Lines behavior Menu Closed */
}
@media screen and (min-width: 1024px) {
  .main-header .navbar {
    padding-top: 1.2222222222em;
    padding-bottom: 1em;
    width: 85%;
  }
}
.main-header .navbar .menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  width: 8.333%;
  /* Lines behavior Menu Opened */
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .menu-button {
    display: none;
  }
}
.main-header .navbar .menu-button__line {
  fill: none;
  stroke: #FF890D;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .menu-button__line {
    transform: scale(0);
  }
}
.main-header .navbar .menu-button--opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.main-header .navbar .menu-button--opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.main-header .navbar .menu-button--opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .menu-button--opened {
    display: none;
  }
}
.main-header .navbar .line1, .main-header .navbar .line2, .main-header .navbar .line3 {
  stroke-width: 6;
}
.main-header .navbar .line1 {
  stroke-dasharray: 60 207;
}
.main-header .navbar .line2 {
  stroke-dasharray: 60 60;
}
.main-header .navbar .line3 {
  stroke-dasharray: 60 207;
}
.main-header .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.666%;
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .logo {
    justify-content: flex-start;
  }
}
.main-header .navbar .logo__text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .logo__text {
    display: unset;
    margin-left: 10px;
  }
}
.main-header .navbar .navigate {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .main-header .navbar .navigate {
    position: absolute;
    order: 3;
    transform: scale(0);
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header .navbar .navigate {
    position: absolute;
    order: 3;
    transform: scale(0);
    width: 100%;
  }
}
.main-header .navbar .navigate--opened {
  position: relative;
  transform: scale(1);
  margin-top: 28%;
  transition: 1s;
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .navigate {
    flex-flow: row;
    justify-content: center;
    margin-top: 0;
    width: 58.331%;
  }
}
.main-header .navbar .navigate-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 13.3333333333em;
  margin-bottom: 25%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .navigate-list {
    flex-flow: row;
    justify-content: space-between;
    max-width: 29.2222222222em;
    margin-bottom: 0;
  }
}
.main-header .navbar .navigate-list__item {
  margin-bottom: 2.6666666667em;
  width: min-content;
}
.main-header .navbar .navigate-list__item:last-child {
  margin-bottom: 20%;
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .navigate-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .navigate-list__item {
    margin-bottom: 0;
  }
}
.main-header .navbar .navigate-list__item--hover {
  display: block;
  font-weight: 400;
  line-height: 1.38889rem;
  position: relative;
}
.main-header .navbar .navigate-list__item--hover.active {
  font-weight: 700;
}
.main-header .navbar .navigate-list__item--hover.active::after {
  opacity: 1;
  bottom: -0.5rem;
}
.main-header .navbar .navigate-list__item--hover.active a {
  color: #FF890D;
}
.main-header .navbar .navigate-list__item--hover::after {
  background: #BC6509;
  border-radius: 100%;
  bottom: -1.5rem;
  content: "";
  height: 6px;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all 0.2s ease;
  width: 6px;
}
.main-header .navbar .navigate-list__item--hover:hover::after {
  bottom: -0.5rem;
  opacity: 1;
}
.main-header .navbar .log {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30%;
}
@media screen and (max-width: 767px) {
  .main-header .navbar .log {
    position: absolute;
    transform: scale(0);
    order: 4;
  }
  .main-header .navbar .log--opened {
    position: relative;
    transform: scale(1);
    width: 100%;
    transition: 1s;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header .navbar .log {
    position: absolute;
    transform: scale(0);
    order: 4;
  }
  .main-header .navbar .log--opened {
    position: relative;
    transform: scale(1);
    width: 100%;
    transition: 1s;
  }
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .log {
    display: flex;
    width: 16.666%;
    min-width: 10.9444444444em;
    margin-bottom: 0;
  }
}
.main-header .navbar .log_in {
  font-size: 18px;
  color: #272D4E;
}
.main-header .navbar .log__get-started {
  background-color: #FF890D;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 1.4444444444em;
  padding: 13px 14px;
}
.main-header .navbar .log__get-started:hover {
  background-color: #FFA342;
}
.main-header .navbar .log__get-started:focus {
  background-color: #BC6509;
}
.main-header .navbar .search {
  position: relative;
  width: 8.333%;
  padding: 10px 0;
}
@media screen and (min-width: 1024px) {
  .main-header .navbar .search {
    max-width: min-content;
  }
}
.main-header .navbar .search-box {
  position: absolute;
  visibility: hidden;
  background-color: #96D94E;
  border-radius: 8px;
  padding: 2px 0;
  font-size: 18px;
  height: 30px;
  right: -10px;
  top: 70px;
  color: #00343D;
  box-shadow: 0px 15px 20px rgba(84, 255, 22, 0.35);
}
.main-header .navbar .search-box--show {
  visibility: visible;
}

.footer {
  width: 100%;
  background-color: #FF890D;
  color: #ffffff;
}
.footer .container {
  width: 100%;
  display: grid;
}
.footer__hight {
  width: 100%;
  border-bottom: #9A7DFF solid 1px;
  padding: 10px 0;
}
.footer__hight-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 1.11rem;
  line-height: 52px;
}
.footer__hight-item {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__hight-item {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__hight-item {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__hight-item:nth-child(3) {
    grid-column: 1/span 2;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__hight-item:nth-child(3) {
    grid-column: unset;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__hight-item:nth-child(2) {
    justify-content: start;
  }
}
.footer__hight-icon {
  padding-right: 13px;
}
.footer__hight-wrapper {
  max-width: 1248px;
  margin: 0 auto;
}
.footer__hight-container {
  width: 100%;
  display: grid;
  grid-gap: 13px;
  padding: 13px 0;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__hight-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .footer__hight-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }
}
.footer__content-wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.footer__content {
  display: grid;
  padding: 26px 26px 26px 35px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__content {
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
    padding: 13px 13px 13px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.2fr;
    padding: 13px 13px 40px 26px;
  }
}
.footer .info__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 0.77rem;
  line-height: 52px;
  text-transform: uppercase;
}
.footer .info__list-link {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 0.66rem;
  line-height: 22px;
}
.footer .social {
  grid-column: 1/span 2;
  padding-top: 20px;
}
.footer .social__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 0.77rem;
  line-height: 52px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .footer .social__subtitle {
    text-align: start;
  }
}
.footer .social__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .social__icons {
    padding: 0 150px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .social__icons {
    padding: 0;
    grid-gap: 35px;
  }
}
.footer .social__icons-item {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .footer .social__icons-item {
    justify-content: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .social {
    grid-column: 1/span 4;
  }
}
@media screen and (min-width: 1024px) {
  .footer .social {
    grid-column: 5/span 1;
    padding-top: 0;
  }
}
.footer .top-scroll {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .top-scroll {
    display: grid;
    grid-row: 1/span 1;
    grid-column: 5/span 1;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .top-scroll {
    display: grid;
    justify-content: end;
    padding-top: 20px;
  }
}
.footer .mini-footer {
  display: flex;
  text-align: center;
  background-color: #E5E5E5;
  justify-content: center;
}
.footer .mini-footer .copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #272D4E;
  font-style: normal;
  font-weight: normal;
  font-size: 0.55rem;
  line-height: 22px;
  text-align: center;
  padding: 30px 0;
}
.footer .mini-footer .copyright__links-item {
  text-decoration: underline;
  color: #272D4E;
}

/*
    Styles for VPN features section
*/
.vpnfeatures {
  margin: 0 auto;
  width: 92.31%;
}
.vpnfeatures__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-width: 18.8888888889em;
  margin-bottom: 2.7777777778em;
}

.info-page--vpnfeatures {
  align-items: flex-start;
  margin-bottom: 2.2222222222em;
  min-width: 15.5555555556em;
  max-width: 33.3333333333em;
  justify-content: flex-start;
}
@media screen and (min-width: 1024px) {
  .info-page--vpnfeatures {
    max-width: 23.3333333333em;
  }
  .info-page--vpnfeatures:nth-child(2) {
    margin-top: 55px;
  }
  .info-page--vpnfeatures:nth-child(3) {
    margin-top: 120px;
  }
}
.info-page__images--vpnfeatures {
  margin-bottom: 50px;
}
.info-page__images--vpnfeatures > * {
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
}
.info-page__images-applepay, .info-page__images-payment, .info-page__images-square, .info-page__images-mailchip, .info-page__images-facebook, .info-page__images-jetpack, .info-page__images-googleAds, .info-page__images-sharepc, .info-page__images-social, .info-page__images-social2 {
  position: absolute;
  width: fit-content;
}
.info-page__images-needtostart, .info-page__images-customize, .info-page__images-community {
  width: 100%;
}
.info-page__images-applepay {
  top: 16px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-applepay {
    margin-left: -40px;
  }
}
.info-page__images-payment {
  bottom: 0;
  right: 0px;
  margin-right: 5%;
}
@media screen and (max-width: 767px) {
  .info-page__images-payment {
    transform: scale(0.7);
  }
}
@media screen and (min-width: 1024px) {
  .info-page__images-payment {
    left: -60px;
    margin: 0 0 -30px 0;
  }
}
.info-page__images-square, .info-page__images-mailchip, .info-page__images-jetpack, .info-page__images-googleAds {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-square {
    margin: -40px 0 0 40px;
  }
}
.info-page__images-facebook {
  margin-left: 120px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-facebook {
    margin: 110px 0 0 40px;
  }
}
.info-page__images-mailchip {
  margin-top: 72px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-mailchip {
    margin: 20px 0 0 40px;
    right: 30px;
  }
}
.info-page__images-jetpack {
  margin-top: 144px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-jetpack {
    margin: 140px 0 0 40px;
    right: 90px;
  }
}
.info-page__images-googleAds {
  left: 230px;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .info-page__images-googleAds {
    bottom: -30px;
    left: 150px;
  }
}
.info-page__images-sharepc {
  bottom: 0;
  left: 0;
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-sharepc {
    top: -70px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .info-page__images-social, .info-page__images-social2 {
    display: none;
  }
}
.info-page__images-social {
  bottom: 0;
  right: 0;
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-social {
    top: -110px;
    margin-right: 40px;
  }
}
.info-page__images-social2 {
  left: 0;
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .info-page__images-social2 {
    margin: 0;
    bottom: 40px;
    left: 318px;
  }
}
@media screen and (min-width: 1024px) {
  .info-page__title--vpnfeatures {
    align-self: center;
    font-size: 40px;
    width: 33%;
    margin-bottom: 60px;
  }
}
.info-page__subtitle--vpnfeatures {
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  .info-page__subtitle--vpnfeatures {
    font-size: 36px;
  }
}
.info-page__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}
.info-page__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

/*
    Benefits section styles
*/
.vpnbenefits {
  position: relative;
  width: 100%;
}
.vpnbenefits__color-patch {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  background-color: #FF890D;
  z-index: -1;
}
.vpnbenefits__color-patch::before {
  content: "";
  position: absolute;
  background: #ffffff;
  border-radius: 40%;
  width: 100%;
  height: 100px;
  top: -40px;
}
.vpnbenefits__color-patch::after {
  content: "";
  position: absolute;
  background: #ffffff;
  border-radius: 40%;
  width: 100%;
  height: 100px;
  bottom: -40px;
}
.vpnbenefits__circle {
  position: absolute;
  z-index: -1;
}
.vpnbenefits__circle--deco1 {
  top: 13%;
  left: -2%;
}
.vpnbenefits__circle--deco2 {
  top: 18%;
  left: 0%;
}
@media screen and (max-width: 767px) {
  .vpnbenefits__circle--deco2 {
    display: none;
  }
}
.vpnbenefits__circle--deco3 {
  top: 47%;
  left: 70%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .vpnbenefits__circle--deco3 {
    display: none;
  }
}
.vpnbenefits__circle--deco4 {
  top: 48%;
  right: 2%;
}
.vpnbenefits__dots-grid {
  position: absolute;
  z-index: -1;
}
.vpnbenefits__dots-grid--deco5 {
  top: 35%;
}
@media screen and (max-width: 767px) {
  .vpnbenefits__dots-grid--deco5 {
    opacity: 0.7;
  }
}
.vpnbenefits__dots-grid--deco6 {
  top: 50%;
  transform: rotate(90deg);
  right: 136px;
}
@media screen and (max-width: 767px) {
  .vpnbenefits__dots-grid--deco6 {
    display: none;
  }
}
.vpnbenefits__box {
  width: 90.31%;
  margin: 0 auto;
}
.vpnbenefits__box .info-page--box {
  flex-flow: row wrap;
  margin-bottom: 22px;
}
@media screen and (min-width: 1024px) {
  .vpnbenefits__box .info-page--box:nth-child(1), .vpnbenefits__box .info-page--box:nth-child(2) {
    justify-content: flex-start;
  }
}
.vpnbenefits__box .info-page--box:nth-child(2) {
  flex-direction: row-reverse;
}
.vpnbenefits__box .info-page--benefits {
  max-width: 490px;
  margin-bottom: 20px;
}
.vpnbenefits__box .info-page__images--benefits {
  align-self: center;
  max-width: 23.8888888889rem;
  margin-bottom: 1.3888888889rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: -25px 20px 44px rgba(84, 48, 209, 0.4);
}
@media screen and (min-width: 1024px) {
  .vpnbenefits__box .info-page__images--benefits {
    margin-right: 6%;
    margin-left: 3.75%;
  }
}
.vpnbenefits__box .info-page__subtitle--benefits {
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .vpnbenefits__box .info-page__subtitle--benefits {
    font-size: 36px;
    line-height: 42px;
  }
}
.vpnbenefits__box .info-page__text--benefits {
  line-height: 30px;
  color: #ffffff;
}
.vpnbenefits__box .info-page__button--benefits {
  background-color: #70C217;
}
.vpnbenefits__box .info-page__button--benefits:hover {
  background-color: #96D94E;
}
.vpnbenefits__box .info-page__button--benefits:focus {
  background-color: #558E17;
}

/*
    Agencies Testimonial Section
        * Includes the slider component
*/
.primary-slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}
.primary-slider__box {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}
.primary-slider__box-message {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}
.primary-slider__control_prev, .primary-slider__control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
.primary-slider__control_prev:hover, .primary-slider__control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}
.primary-slider__control_prev {
  border-radius: 0 2px 2px 0;
}
.primary-slider__control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.dots-grid {
  position: absolute;
}
@media screen and (max-width: 767px) {
  .dots-grid {
    transform: scale(0.7);
  }
}

.people__main {
  width: 100%;
  background-image: url("../image/dots-green.svg");
  background-position: 97% 42%;
  background-repeat: no-repeat;
  background-size: 31%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .people__main {
    background-image: url("../image/dots-green.svg"), url("../image/ellipse-36.svg"), url("../image/dot-pink.svg");
    background-position: 2% 57%, 2% 65%, 115% 107%;
    background-size: 18%, 6%, 20%;
  }
}
@media screen and (min-width: 1024px) {
  .people__main {
    background-image: url("../image/dots-green.svg"), url("../image/ellipse-36.svg"), url("../image/dot-pink.svg"), url("../image/med-circle-back.svg"), url("../image/ellipse-32.svg"), url("../image/ellipse-34.svg");
    background-position: 0 54%, 1% 60%, 102% 108%, center 177%, 17% 17%, 98% 2%;
    background-size: unset;
  }
}
.people__main .container {
  display: grid;
}
.people__main-picture {
  width: 100%;
  max-width: 1145px;
  margin: 0 auto;
  display: none;
}
.people__main-picture-img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .people__main-picture {
    display: flex;
    justify-content: center;
  }
}
.people__banner {
  width: 100%;
  background-color: #C16300;
  background-image: url("../image/ellipse-35.svg");
  background-position: 99% 112%;
  background-repeat: no-repeat;
  background-size: 16%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .people__banner {
    background-position: 99% 112%;
    background-size: unset;
  }
}
@media screen and (min-width: 1024px) {
  .people__banner {
    background-position: 99% 112%;
    background-size: unset;
  }
}
.people__banner-wrapper {
  max-width: 854px;
  margin: 0 auto;
}
.people__banner-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .people__banner-paragraph {
    font-size: 1.5rem;
    line-height: 42px;
    padding: 20px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .people__banner-paragraph {
    padding: 40px 51px;
  }
}
@media screen and (min-width: 1024px) {
  .people__banner-paragraph {
    padding: 67px 0;
  }
}

.text-block__wrapper {
  max-width: 675px;
  margin: 0 auto;
}

.text-block {
  display: grid;
  padding: 30px 0;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-block {
    padding: 30px 0 40px 0;
  }
}
@media screen and (min-width: 1024px) {
  .text-block {
    padding: 130px 0 40px 0;
    margin-bottom: 50px;
  }
}
.text-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 70px;
  text-align: center;
  color: #272D4E;
}
@media screen and (max-width: 767px) {
  .text-block__title {
    font-size: 2rem;
    line-height: 42px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-block__title {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1024px) {
  .text-block__title {
    padding-bottom: 30px;
  }
}
.text-block__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 30px;
  text-align: center;
  color: #94A2B3;
  padding: 0 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-block__text {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .text-block__text {
    padding: 0;
  }
}

.hero {
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #e5efff 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero__content {
  width: 100%;
  display: grid;
}
@media screen and (min-width: 1024px) {
  .hero__content {
    min-width: 1440px;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 75px;
  }
}
.hero__back {
  position: absolute;
  opacity: 0.2;
  bottom: 107px;
  left: 38%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero {
    background-size: auto;
    background-position: 69% 10%, 1% 43%;
  }
}
.hero__text {
  width: 100%;
  display: grid;
}
@media screen and (min-width: 1024px) {
  .hero__text {
    grid-column: 1/span 8;
  }
}
.hero__text-title {
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 70px;
  color: #272D4E;
  padding: 100px 20px 20px 20px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero__text-title {
    padding: 100px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__text-title {
    padding: 270px 0 20px 0;
    text-align: left;
    font-weight: 500;
    font-size: 4.72rem;
    line-height: 95px;
  }
}
.hero__text-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  color: #75818E;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero__text-paragraph {
    padding: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__text-paragraph {
    text-align: left;
    padding: 0 25% 40px 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero__text-paragraph--single {
    padding: 22px 0 0 8px;
  }
}
.hero__link {
  display: grid;
  justify-content: center;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .hero__link {
    grid-template-columns: repeat(8, 1fr);
    padding-bottom: 267px;
  }
}
.hero__link-button {
  background: #FF890D;
  border-radius: 60px;
  padding: 25px 0;
  width: 267px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.hero__link-button:hover {
  background: #FFA342;
}
.hero__link-anchor {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #299EF3;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero__link-anchor {
    grid-column: 3/span 2;
    padding-top: 22px;
    text-align: start;
    margin-left: -44px;
  }
}
.hero__img {
  display: none;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .hero__img {
    display: grid;
    grid-column: 9/span 4;
  }
}
.hero__img-girls {
  width: auto;
  position: absolute;
  top: 205px;
  right: 90px;
}
.hero__img-product {
  width: auto;
  position: absolute;
  bottom: 160px;
  right: -599px;
  z-index: -1;
}
.hero__img-sale {
  width: auto;
  position: absolute;
  right: -78px;
  top: 33%;
}
.hero__img-cart {
  width: auto;
  position: absolute;
  bottom: 67px;
  right: 67%;
}
.hero__img-pay {
  width: auto;
  position: absolute;
  bottom: 30px;
  right: -196px;
}
.hero__img-purpple-dots {
  width: auto;
  position: absolute;
  bottom: -125px;
  right: -442px;
  z-index: -2;
}
.hero__img-vertical-dots {
  width: auto;
  position: absolute;
  top: 145px;
  right: -175px;
  z-index: -2;
}
.hero__img-horizontal-dots {
  width: auto;
  position: absolute;
  top: 335px;
  right: -132px;
  z-index: -2;
}

/*# sourceMappingURL=styles.css.map */
