
/*
    This Component contains:
    * Title
    * Images
    * Subtitle
    * Text
    * Link and,
    * Button
*/
.info-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    
    &__title{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    &__images {
        position: relative;
        display: flex;
        width: 100%;
    }
    
    &__subtitle {
        font-size: 30px;
        margin-bottom: 16px;
    }
  
    &__text {
        font-size: 16px;
        line-height: 20px;
        color: $tertiary-text;
        margin-bottom: 20px;
        width: 100%;
    }
  
    &__link {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        .learn-more {color: $links-color;}
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: to-rem(267px);
        width:100%;
        height: to-rem(72px);
        background-color: $orange-normal ;
        border-radius: to-rem(60px);
        a {
            color: $secundary-text;
        }
        &:hover { background-color: $orange-light;}
        &:focus { background-color: $orange-dark;}
    }
  }

