
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font, $family;
  font-size: $browser-context;
  color: $primary-color;
}

a { 
  &, &:link {
    color:$primary-color;
    text-decoration: none;
  }
  &:focus { border: none; }
}

button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin:0 auto;
}
