/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$font:'Roboto';
$family:sans-serif;
$primary-color:#0B132A;
body {
  font-family: $fonts, $family;
  color: $primary-color;
}

a {
  text-decoration: none;
}

a:focus {
  border: none;
}

li {
    list-style: none;
}