/* FONTS */
$font:'Roboto';
$family:sans-serif;
$browser-context:18px; // Size default for the HTML document
$primary-text:#75818E;
$secundary-text:#ffffff;

/* COLORS */
// general text
$primary-color:#272D4E;
$secondary-color:#00343D;
// logo / text
$logo-color:#0B132A;

// Orange button
$orange-normal:#FF890D;
$orange-light:#FFA342;
$orange-dark:#BC6509;
// Green button
$green-normal:#70C217;
$green-light:#96D94E;
$green-dark:#558E17;
